<ion-header>

  <ion-navbar>
    <ion-title>{{documento.titulo != undefined ? documento.titulo : 'Documento'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <form [formGroup]="documentoForm"> -->
    <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>
              Titulo
            </ion-label>
            <ion-input name="titulo" [(ngModel)]="documento.titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="!documentoForm.controls.titulo.valid">
        <ion-col>
          <span *ngIf="documentoForm.controls.titulo.errors.required">
            O titulo da tarefa é obrigatorio.
          </span>
          <span *ngIf="documentoForm.controls.titulo.errors.minlength">
            O titulo da tarefa deve conter no minimo 5 caracteres
          </span>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>
              Link
            </ion-label>
            <ion-input name="link" [(ngModel)]="documento.link"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

       <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>
              Status
            </ion-label>
            <ion-select name="state" [(ngModel)]="documento.state">
              <ion-option *ngFor="let state of providerListaDocumento.getDocumentoStates()" [value]="state">
                {{state}}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col>
          <button ion-button full clear (click)="salvarDocumento()">
            Salvar tarefa
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>