page-registrar {

.pad-img-logo{
    padding-top: 30%;
}

.margem-entre-imput{
    margin-top: 1%;
}

.color-bota-registre{
    color: black;
}

.imagem-back-login {
    background-image: url(../assets/img/img-back-latam.png);
}

.scroll-content-background-color {
    background: #2A0088;
}

.botao-grande {
    width: 100%;
}

.div {
    padding-left: inherit;
}

.alinhamento-text {
    text-align: center;
}

}
